@import 'tailwindcss';


@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  @apply bg-gray-100 text-gray-700 mt-16;
  font-family: "verdana";
}

h1 {
  @apply text-2xl font-bold text-blue-500;
}
h2 {
  @apply text-xl font-bold my-4;
}
h3 {
  @apply text-lg font-bold my-4;
}
ul {
  @apply my-10;
}
p {
  @apply my-2;
}

/* header */
header {
  @apply bg-white fixed top-0 left-0 right-0 z-30;

  nav {
    @apply flex items-center gap-5 max-w-screen-lg px-12 py-4 mx-auto;
  }
  h1 {
    @apply mr-auto;
  }
}

/* form elements */
form {
  @apply max-w-screen-sm;
}
.form-wrapper {
    max-width: 400px;
    margin: 10px auto;      /* centers horizontally */
    padding: 20px;
    border: 1px solid #ccc; /* box border */
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
input, select, textarea {
  @apply block w-full mt-2 mb-4 p-2 bg-white border border-gray-300 rounded focus:ring-2 focus:ring-blue-400 focus:border-blue-500;
}

/* custom classes */
.container {
  @apply max-w-screen-lg mx-auto px-12 py-8;
}
.card {
  @apply bg-white rounded border border-gray-200 px-3 py-3 my-2 flex justify-between items-center;
}
.highlight {
  @apply border-l-4 border-l-blue-500;
}
.btn {
  @apply rounded px-3 py-2 bg-gray-200 hover:bg-blue-500 hover:text-white;
}